@using WebUF.ViewModel
@model List<EstadoViewModel>

@if (Model != null && Model.Any())
{
    @foreach (var estado in Model)
    {
        <tr>
            <th scope="row">@estado.Id</th>
            <td>@estado.Sigla</td>
            <td>@estado.Nome</td>
            <td>@estado.Regiao</td> <!-- Adicionado: Região -->
            <td>@estado.Capital</td> <!-- Adicionado: Capital -->
            <td>
                <button class="btn btn-primary btn-sm"
                    id="btn_model_@estado.Id"
                    type="button" 
                    onclick="toggleDescricao('@estado.Id')">
                    Ver descrição
                </button>
            </td>
        </tr>

    }
}
else
{
    <tr>
        <td colspan="6">Nenhum estado encontrado.</td> <!-- Colspan ajustado para 6 -->
    </tr>
}

@* Placeholder onde o partial retornado pelo controller será injetado *@
<div id="modalPlaceholder"></div>


